[class*='items-'] {
    width: 32px;
    height: 32px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}
.items-20-0-0 {
    background: url(items-20.png) 0 0 no-repeat
}
.items-20-1-0 {
    background: url(items-20.png) 0 -32px no-repeat
}
.items-20-1-1 {
    background: url(items-20.png) 0 -64px no-repeat
}
.items-20-1-2 {
    background: url(items-20.png) 0 -96px no-repeat
}
.items-20-1-3 {
    background: url(items-20.png) 0 -128px no-repeat
}
.items-20-1-4 {
    background: url(items-20.png) 0 -160px no-repeat
}
.items-20-1-5 {
    background: url(items-20.png) 0 -192px no-repeat
}
.items-20-1-6 {
    background: url(items-20.png) 0 -224px no-repeat
}
.items-20-10-0 {
    background: url(items-20.png) 0 -256px no-repeat
}
.items-20-100-0 {
    background: url(items-20.png) 0 -288px no-repeat
}
.items-20-101-0 {
    background: url(items-20.png) 0 -320px no-repeat
}
.items-20-102-0 {
    background: url(items-20.png) 0 -352px no-repeat
}
.items-20-103-0 {
    background: url(items-20.png) 0 -384px no-repeat
}
.items-20-104-0 {
    background: url(items-20.png) 0 -416px no-repeat
}
.items-20-105-0 {
    background: url(items-20.png) 0 -448px no-repeat
}
.items-20-106-0 {
    background: url(items-20.png) 0 -480px no-repeat
}
.items-20-107-0 {
    background: url(items-20.png) 0 -512px no-repeat
}
.items-20-108-0 {
    background: url(items-20.png) 0 -544px no-repeat
}
.items-20-109-0 {
    background: url(items-20.png) 0 -576px no-repeat
}
.items-20-11-0 {
    background: url(items-20.png) 0 -608px no-repeat
}
.items-20-110-0 {
    background: url(items-20.png) 0 -640px no-repeat
}
.items-20-111-0 {
    background: url(items-20.png) 0 -672px no-repeat
}
.items-20-112-0 {
    background: url(items-20.png) 0 -704px no-repeat
}
.items-20-113-0 {
    background: url(items-20.png) 0 -736px no-repeat
}
.items-20-114-0 {
    background: url(items-20.png) 0 -768px no-repeat
}
.items-20-115-0 {
    background: url(items-20.png) 0 -800px no-repeat
}
.items-20-116-0 {
    background: url(items-20.png) 0 -832px no-repeat
}
.items-20-117-0 {
    background: url(items-20.png) 0 -864px no-repeat
}
.items-20-118-0 {
    background: url(items-20.png) 0 -896px no-repeat
}
.items-20-119-0 {
    background: url(items-20.png) 0 -928px no-repeat
}
.items-20-12-0 {
    background: url(items-20.png) 0 -960px no-repeat
}
.items-20-12-1 {
    background: url(items-20.png) 0 -992px no-repeat
}
.items-20-120-0 {
    background: url(items-20.png) 0 -1024px no-repeat
}
.items-20-121-0 {
    background: url(items-20.png) 0 -1056px no-repeat
}
.items-20-122-0 {
    background: url(items-20.png) 0 -1088px no-repeat
}
.items-20-123-0 {
    background: url(items-20.png) 0 -1120px no-repeat
}
.items-20-124-0 {
    background: url(items-20.png) 0 -1152px no-repeat
}
.items-20-125-0 {
    background: url(items-20.png) 0 -1184px no-repeat
}
.items-20-125-1 {
    background: url(items-20.png) 0 -1216px no-repeat
}
.items-20-125-2 {
    background: url(items-20.png) 0 -1248px no-repeat
}
.items-20-125-3 {
    background: url(items-20.png) 0 -1280px no-repeat
}
.items-20-125-4 {
    background: url(items-20.png) 0 -1312px no-repeat
}
.items-20-125-5 {
    background: url(items-20.png) 0 -1344px no-repeat
}
.items-20-126-0 {
    background: url(items-20.png) 0 -1376px no-repeat
}
.items-20-126-1 {
    background: url(items-20.png) 0 -1408px no-repeat
}
.items-20-126-2 {
    background: url(items-20.png) 0 -1440px no-repeat
}
.items-20-126-3 {
    background: url(items-20.png) 0 -1472px no-repeat
}
.items-20-126-4 {
    background: url(items-20.png) 0 -1504px no-repeat
}
.items-20-126-5 {
    background: url(items-20.png) 0 -1536px no-repeat
}
.items-20-127-0 {
    background: url(items-20.png) 0 -1568px no-repeat
}
.items-20-128-0 {
    background: url(items-20.png) 0 -1600px no-repeat
}
.items-20-129-0 {
    background: url(items-20.png) 0 -1632px no-repeat
}
.items-20-13-0 {
    background: url(items-20.png) 0 -1664px no-repeat
}
.items-20-130-0 {
    background: url(items-20.png) 0 -1696px no-repeat
}
.items-20-131-0 {
    background: url(items-20.png) 0 -1728px no-repeat
}
.items-20-132-0 {
    background: url(items-20.png) 0 -1760px no-repeat
}
.items-20-133-0 {
    background: url(items-20.png) 0 -1792px no-repeat
}
.items-20-134-0 {
    background: url(items-20.png) 0 -1824px no-repeat
}
.items-20-135-0 {
    background: url(items-20.png) 0 -1856px no-repeat
}
.items-20-136-0 {
    background: url(items-20.png) 0 -1888px no-repeat
}
.items-20-137-0 {
    background: url(items-20.png) 0 -1920px no-repeat
}
.items-20-138-0 {
    background: url(items-20.png) 0 -1952px no-repeat
}
.items-20-139-0 {
    background: url(items-20.png) 0 -1984px no-repeat
}
.items-20-139-1 {
    background: url(items-20.png) 0 -2016px no-repeat
}
.items-20-14-0 {
    background: url(items-20.png) 0 -2048px no-repeat
}
.items-20-140-0 {
    background: url(items-20.png) 0 -2080px no-repeat
}
.items-20-141-0 {
    background: url(items-20.png) 0 -2112px no-repeat
}
.items-20-142-0 {
    background: url(items-20.png) 0 -2144px no-repeat
}
.items-20-143-0 {
    background: url(items-20.png) 0 -2176px no-repeat
}
.items-20-144-0 {
    background: url(items-20.png) 0 -2208px no-repeat
}
.items-20-145-0 {
    background: url(items-20.png) 0 -2240px no-repeat
}
.items-20-146-0 {
    background: url(items-20.png) 0 -2272px no-repeat
}
.items-20-147-0 {
    background: url(items-20.png) 0 -2304px no-repeat
}
.items-20-148-0 {
    background: url(items-20.png) 0 -2336px no-repeat
}
.items-20-149-0 {
    background: url(items-20.png) 0 -2368px no-repeat
}
.items-20-15-0 {
    background: url(items-20.png) 0 -2400px no-repeat
}
.items-20-150-0 {
    background: url(items-20.png) 0 -2432px no-repeat
}
.items-20-151-0 {
    background: url(items-20.png) 0 -2464px no-repeat
}
.items-20-152-0 {
    background: url(items-20.png) 0 -2496px no-repeat
}
.items-20-153-0 {
    background: url(items-20.png) 0 -2528px no-repeat
}
.items-20-154-0 {
    background: url(items-20.png) 0 -2560px no-repeat
}
.items-20-155-0 {
    background: url(items-20.png) 0 -2592px no-repeat
}
.items-20-155-1 {
    background: url(items-20.png) 0 -2624px no-repeat
}
.items-20-155-2 {
    background: url(items-20.png) 0 -2656px no-repeat
}
.items-20-156-0 {
    background: url(items-20.png) 0 -2688px no-repeat
}
.items-20-157-0 {
    background: url(items-20.png) 0 -2720px no-repeat
}
.items-20-158-0 {
    background: url(items-20.png) 0 -2752px no-repeat
}
.items-20-159-0 {
    background: url(items-20.png) 0 -2784px no-repeat
}
.items-20-159-1 {
    background: url(items-20.png) 0 -2816px no-repeat
}
.items-20-159-10 {
    background: url(items-20.png) 0 -2848px no-repeat
}
.items-20-159-11 {
    background: url(items-20.png) 0 -2880px no-repeat
}
.items-20-159-12 {
    background: url(items-20.png) 0 -2912px no-repeat
}
.items-20-159-13 {
    background: url(items-20.png) 0 -2944px no-repeat
}
.items-20-159-14 {
    background: url(items-20.png) 0 -2976px no-repeat
}
.items-20-159-15 {
    background: url(items-20.png) 0 -3008px no-repeat
}
.items-20-159-2 {
    background: url(items-20.png) 0 -3040px no-repeat
}
.items-20-159-3 {
    background: url(items-20.png) 0 -3072px no-repeat
}
.items-20-159-4 {
    background: url(items-20.png) 0 -3104px no-repeat
}
.items-20-159-5 {
    background: url(items-20.png) 0 -3136px no-repeat
}
.items-20-159-6 {
    background: url(items-20.png) 0 -3168px no-repeat
}
.items-20-159-7 {
    background: url(items-20.png) 0 -3200px no-repeat
}
.items-20-159-8 {
    background: url(items-20.png) 0 -3232px no-repeat
}
.items-20-159-9 {
    background: url(items-20.png) 0 -3264px no-repeat
}
.items-20-16-0 {
    background: url(items-20.png) 0 -3296px no-repeat
}
.items-20-160-0 {
    background: url(items-20.png) 0 -3328px no-repeat
}
.items-20-160-1 {
    background: url(items-20.png) 0 -3360px no-repeat
}
.items-20-160-10 {
    background: url(items-20.png) 0 -3392px no-repeat
}
.items-20-160-11 {
    background: url(items-20.png) 0 -3424px no-repeat
}
.items-20-160-12 {
    background: url(items-20.png) 0 -3456px no-repeat
}
.items-20-160-13 {
    background: url(items-20.png) 0 -3488px no-repeat
}
.items-20-160-14 {
    background: url(items-20.png) 0 -3520px no-repeat
}
.items-20-160-15 {
    background: url(items-20.png) 0 -3552px no-repeat
}
.items-20-160-2 {
    background: url(items-20.png) 0 -3584px no-repeat
}
.items-20-160-3 {
    background: url(items-20.png) 0 -3616px no-repeat
}
.items-20-160-4 {
    background: url(items-20.png) 0 -3648px no-repeat
}
.items-20-160-5 {
    background: url(items-20.png) 0 -3680px no-repeat
}
.items-20-160-6 {
    background: url(items-20.png) 0 -3712px no-repeat
}
.items-20-160-7 {
    background: url(items-20.png) 0 -3744px no-repeat
}
.items-20-160-8 {
    background: url(items-20.png) 0 -3776px no-repeat
}
.items-20-160-9 {
    background: url(items-20.png) 0 -3808px no-repeat
}
.items-20-161-0 {
    background: url(items-20.png) 0 -3840px no-repeat
}
.items-20-161-1 {
    background: url(items-20.png) 0 -3872px no-repeat
}
.items-20-162-0 {
    background: url(items-20.png) 0 -3904px no-repeat
}
.items-20-162-1 {
    background: url(items-20.png) 0 -3936px no-repeat
}
.items-20-163-0 {
    background: url(items-20.png) 0 -3968px no-repeat
}
.items-20-164-0 {
    background: url(items-20.png) 0 -4000px no-repeat
}
.items-20-165-0 {
    background: url(items-20.png) 0 -4032px no-repeat
}
.items-20-166-0 {
    background: url(items-20.png) 0 -4064px no-repeat
}
.items-20-167-0 {
    background: url(items-20.png) 0 -4096px no-repeat
}
.items-20-168-0 {
    background: url(items-20.png) 0 -4128px no-repeat
}
.items-20-168-1 {
    background: url(items-20.png) 0 -4160px no-repeat
}
.items-20-168-2 {
    background: url(items-20.png) 0 -4192px no-repeat
}
.items-20-169-0 {
    background: url(items-20.png) 0 -4224px no-repeat
}
.items-20-17-0 {
    background: url(items-20.png) 0 -4256px no-repeat
}
.items-20-17-1 {
    background: url(items-20.png) 0 -4288px no-repeat
}
.items-20-17-2 {
    background: url(items-20.png) 0 -4320px no-repeat
}
.items-20-17-3 {
    background: url(items-20.png) 0 -4352px no-repeat
}
.items-20-170-0 {
    background: url(items-20.png) 0 -4384px no-repeat
}
.items-20-171-0 {
    background: url(items-20.png) 0 -4416px no-repeat
}
.items-20-171-1 {
    background: url(items-20.png) 0 -4448px no-repeat
}
.items-20-171-10 {
    background: url(items-20.png) 0 -4480px no-repeat
}
.items-20-171-11 {
    background: url(items-20.png) 0 -4512px no-repeat
}
.items-20-171-12 {
    background: url(items-20.png) 0 -4544px no-repeat
}
.items-20-171-13 {
    background: url(items-20.png) 0 -4576px no-repeat
}
.items-20-171-14 {
    background: url(items-20.png) 0 -4608px no-repeat
}
.items-20-171-15 {
    background: url(items-20.png) 0 -4640px no-repeat
}
.items-20-171-2 {
    background: url(items-20.png) 0 -4672px no-repeat
}
.items-20-171-3 {
    background: url(items-20.png) 0 -4704px no-repeat
}
.items-20-171-4 {
    background: url(items-20.png) 0 -4736px no-repeat
}
.items-20-171-5 {
    background: url(items-20.png) 0 -4768px no-repeat
}
.items-20-171-6 {
    background: url(items-20.png) 0 -4800px no-repeat
}
.items-20-171-7 {
    background: url(items-20.png) 0 -4832px no-repeat
}
.items-20-171-8 {
    background: url(items-20.png) 0 -4864px no-repeat
}
.items-20-171-9 {
    background: url(items-20.png) 0 -4896px no-repeat
}
.items-20-172-0 {
    background: url(items-20.png) 0 -4928px no-repeat
}
.items-20-173-0 {
    background: url(items-20.png) 0 -4960px no-repeat
}
.items-20-174-0 {
    background: url(items-20.png) 0 -4992px no-repeat
}
.items-20-175-0 {
    background: url(items-20.png) 0 -5024px no-repeat
}
.items-20-175-1 {
    background: url(items-20.png) 0 -5056px no-repeat
}
.items-20-175-2 {
    background: url(items-20.png) 0 -5088px no-repeat
}
.items-20-175-3 {
    background: url(items-20.png) 0 -5120px no-repeat
}
.items-20-175-4 {
    background: url(items-20.png) 0 -5152px no-repeat
}
.items-20-175-5 {
    background: url(items-20.png) 0 -5184px no-repeat
}
.items-20-176-0 {
    background: url(items-20.png) 0 -5216px no-repeat
}
.items-20-177-0 {
    background: url(items-20.png) 0 -5248px no-repeat
}
.items-20-178-0 {
    background: url(items-20.png) 0 -5280px no-repeat
}
.items-20-179-0 {
    background: url(items-20.png) 0 -5312px no-repeat
}
.items-20-179-1 {
    background: url(items-20.png) 0 -5344px no-repeat
}
.items-20-179-2 {
    background: url(items-20.png) 0 -5376px no-repeat
}
.items-20-18-0 {
    background: url(items-20.png) 0 -5408px no-repeat
}
.items-20-18-1 {
    background: url(items-20.png) 0 -5440px no-repeat
}
.items-20-18-2 {
    background: url(items-20.png) 0 -5472px no-repeat
}
.items-20-18-3 {
    background: url(items-20.png) 0 -5504px no-repeat
}
.items-20-180-0 {
    background: url(items-20.png) 0 -5536px no-repeat
}
.items-20-181-0 {
    background: url(items-20.png) 0 -5568px no-repeat
}
.items-20-182-0 {
    background: url(items-20.png) 0 -5600px no-repeat
}
.items-20-183-0 {
    background: url(items-20.png) 0 -5632px no-repeat
}
.items-20-184-0 {
    background: url(items-20.png) 0 -5664px no-repeat
}
.items-20-185-0 {
    background: url(items-20.png) 0 -5696px no-repeat
}
.items-20-186-0 {
    background: url(items-20.png) 0 -5728px no-repeat
}
.items-20-187-0 {
    background: url(items-20.png) 0 -5760px no-repeat
}
.items-20-188-0 {
    background: url(items-20.png) 0 -5792px no-repeat
}
.items-20-189-0 {
    background: url(items-20.png) 0 -5824px no-repeat
}
.items-20-19-0 {
    background: url(items-20.png) 0 -5856px no-repeat
}
.items-20-19-1 {
    background: url(items-20.png) 0 -5888px no-repeat
}
.items-20-190-0 {
    background: url(items-20.png) 0 -5920px no-repeat
}
.items-20-191-0 {
    background: url(items-20.png) 0 -5952px no-repeat
}
.items-20-192-0 {
    background: url(items-20.png) 0 -5984px no-repeat
}
.items-20-193-0 {
    background: url(items-20.png) 0 -6016px no-repeat
}
.items-20-194-0 {
    background: url(items-20.png) 0 -6048px no-repeat
}
.items-20-195-0 {
    background: url(items-20.png) 0 -6080px no-repeat
}
.items-20-196-0 {
    background: url(items-20.png) 0 -6112px no-repeat
}
.items-20-197-0 {
    background: url(items-20.png) 0 -6144px no-repeat
}
.items-20-2-0 {
    background: url(items-20.png) 0 -6176px no-repeat
}
.items-20-20-0 {
    background: url(items-20.png) 0 -6208px no-repeat
}
.items-20-21-0 {
    background: url(items-20.png) 0 -6240px no-repeat
}
.items-20-22-0 {
    background: url(items-20.png) 0 -6272px no-repeat
}
.items-20-2256-0 {
    background: url(items-20.png) 0 -6304px no-repeat
}
.items-20-2257-0 {
    background: url(items-20.png) 0 -6336px no-repeat
}
.items-20-2258-0 {
    background: url(items-20.png) 0 -6368px no-repeat
}
.items-20-2259-0 {
    background: url(items-20.png) 0 -6400px no-repeat
}
.items-20-2260-0 {
    background: url(items-20.png) 0 -6432px no-repeat
}
.items-20-2261-0 {
    background: url(items-20.png) 0 -6464px no-repeat
}
.items-20-2262-0 {
    background: url(items-20.png) 0 -6496px no-repeat
}
.items-20-2263-0 {
    background: url(items-20.png) 0 -6528px no-repeat
}
.items-20-2264-0 {
    background: url(items-20.png) 0 -6560px no-repeat
}
.items-20-2265-0 {
    background: url(items-20.png) 0 -6592px no-repeat
}
.items-20-2266-0 {
    background: url(items-20.png) 0 -6624px no-repeat
}
.items-20-2267-0 {
    background: url(items-20.png) 0 -6656px no-repeat
}
.items-20-23-0 {
    background: url(items-20.png) 0 -6688px no-repeat
}
.items-20-24-0 {
    background: url(items-20.png) 0 -6720px no-repeat
}
.items-20-24-1 {
    background: url(items-20.png) 0 -6752px no-repeat
}
.items-20-24-2 {
    background: url(items-20.png) 0 -6784px no-repeat
}
.items-20-25-0 {
    background: url(items-20.png) 0 -6816px no-repeat
}
.items-20-256-0 {
    background: url(items-20.png) 0 -6848px no-repeat
}
.items-20-257-0 {
    background: url(items-20.png) 0 -6880px no-repeat
}
.items-20-258-0 {
    background: url(items-20.png) 0 -6912px no-repeat
}
.items-20-259-0 {
    background: url(items-20.png) 0 -6944px no-repeat
}
.items-20-26-0 {
    background: url(items-20.png) 0 -6976px no-repeat
}
.items-20-260-0 {
    background: url(items-20.png) 0 -7008px no-repeat
}
.items-20-261-0 {
    background: url(items-20.png) 0 -7040px no-repeat
}
.items-20-262-0 {
    background: url(items-20.png) 0 -7072px no-repeat
}
.items-20-263-0 {
    background: url(items-20.png) 0 -7104px no-repeat
}
.items-20-263-1 {
    background: url(items-20.png) 0 -7136px no-repeat
}
.items-20-264-0 {
    background: url(items-20.png) 0 -7168px no-repeat
}
.items-20-265-0 {
    background: url(items-20.png) 0 -7200px no-repeat
}
.items-20-266-0 {
    background: url(items-20.png) 0 -7232px no-repeat
}
.items-20-267-0 {
    background: url(items-20.png) 0 -7264px no-repeat
}
.items-20-268-0 {
    background: url(items-20.png) 0 -7296px no-repeat
}
.items-20-269-0 {
    background: url(items-20.png) 0 -7328px no-repeat
}
.items-20-27-0 {
    background: url(items-20.png) 0 -7360px no-repeat
}
.items-20-270-0 {
    background: url(items-20.png) 0 -7392px no-repeat
}
.items-20-271-0 {
    background: url(items-20.png) 0 -7424px no-repeat
}
.items-20-272-0 {
    background: url(items-20.png) 0 -7456px no-repeat
}
.items-20-273-0 {
    background: url(items-20.png) 0 -7488px no-repeat
}
.items-20-274-0 {
    background: url(items-20.png) 0 -7520px no-repeat
}
.items-20-275-0 {
    background: url(items-20.png) 0 -7552px no-repeat
}
.items-20-276-0 {
    background: url(items-20.png) 0 -7584px no-repeat
}
.items-20-277-0 {
    background: url(items-20.png) 0 -7616px no-repeat
}
.items-20-278-0 {
    background: url(items-20.png) 0 -7648px no-repeat
}
.items-20-279-0 {
    background: url(items-20.png) 0 -7680px no-repeat
}
.items-20-28-0 {
    background: url(items-20.png) 0 -7712px no-repeat
}
.items-20-280-0 {
    background: url(items-20.png) 0 -7744px no-repeat
}
.items-20-281-0 {
    background: url(items-20.png) 0 -7776px no-repeat
}
.items-20-282-0 {
    background: url(items-20.png) 0 -7808px no-repeat
}
.items-20-283-0 {
    background: url(items-20.png) 0 -7840px no-repeat
}
.items-20-284-0 {
    background: url(items-20.png) 0 -7872px no-repeat
}
.items-20-285-0 {
    background: url(items-20.png) 0 -7904px no-repeat
}
.items-20-286-0 {
    background: url(items-20.png) 0 -7936px no-repeat
}
.items-20-287-0 {
    background: url(items-20.png) 0 -7968px no-repeat
}
.items-20-288-0 {
    background: url(items-20.png) 0 -8000px no-repeat
}
.items-20-289-0 {
    background: url(items-20.png) 0 -8032px no-repeat
}
.items-20-29-0 {
    background: url(items-20.png) 0 -8064px no-repeat
}
.items-20-290-0 {
    background: url(items-20.png) 0 -8096px no-repeat
}
.items-20-291-0 {
    background: url(items-20.png) 0 -8128px no-repeat
}
.items-20-292-0 {
    background: url(items-20.png) 0 -8160px no-repeat
}
.items-20-293-0 {
    background: url(items-20.png) 0 -8192px no-repeat
}
.items-20-294-0 {
    background: url(items-20.png) 0 -8224px no-repeat
}
.items-20-295-0 {
    background: url(items-20.png) 0 -8256px no-repeat
}
.items-20-296-0 {
    background: url(items-20.png) 0 -8288px no-repeat
}
.items-20-297-0 {
    background: url(items-20.png) 0 -8320px no-repeat
}
.items-20-298-0 {
    background: url(items-20.png) 0 -8352px no-repeat
}
.items-20-299-0 {
    background: url(items-20.png) 0 -8384px no-repeat
}
.items-20-3-0 {
    background: url(items-20.png) 0 -8416px no-repeat
}
.items-20-3-1 {
    background: url(items-20.png) 0 -8448px no-repeat
}
.items-20-3-2 {
    background: url(items-20.png) 0 -8480px no-repeat
}
.items-20-30-0 {
    background: url(items-20.png) 0 -8512px no-repeat
}
.items-20-300-0 {
    background: url(items-20.png) 0 -8544px no-repeat
}
.items-20-301-0 {
    background: url(items-20.png) 0 -8576px no-repeat
}
.items-20-302-0 {
    background: url(items-20.png) 0 -8608px no-repeat
}
.items-20-303-0 {
    background: url(items-20.png) 0 -8640px no-repeat
}
.items-20-304-0 {
    background: url(items-20.png) 0 -8672px no-repeat
}
.items-20-305-0 {
    background: url(items-20.png) 0 -8704px no-repeat
}
.items-20-306-0 {
    background: url(items-20.png) 0 -8736px no-repeat
}
.items-20-307-0 {
    background: url(items-20.png) 0 -8768px no-repeat
}
.items-20-308-0 {
    background: url(items-20.png) 0 -8800px no-repeat
}
.items-20-309-0 {
    background: url(items-20.png) 0 -8832px no-repeat
}
.items-20-31-0 {
    background: url(items-20.png) 0 -8864px no-repeat
}
.items-20-31-1 {
    background: url(items-20.png) 0 -8896px no-repeat
}
.items-20-31-2 {
    background: url(items-20.png) 0 -8928px no-repeat
}
.items-20-310-0 {
    background: url(items-20.png) 0 -8960px no-repeat
}
.items-20-311-0 {
    background: url(items-20.png) 0 -8992px no-repeat
}
.items-20-312-0 {
    background: url(items-20.png) 0 -9024px no-repeat
}
.items-20-313-0 {
    background: url(items-20.png) 0 -9056px no-repeat
}
.items-20-314-0 {
    background: url(items-20.png) 0 -9088px no-repeat
}
.items-20-315-0 {
    background: url(items-20.png) 0 -9120px no-repeat
}
.items-20-316-0 {
    background: url(items-20.png) 0 -9152px no-repeat
}
.items-20-317-0 {
    background: url(items-20.png) 0 -9184px no-repeat
}
.items-20-318-0 {
    background: url(items-20.png) 0 -9216px no-repeat
}
.items-20-319-0 {
    background: url(items-20.png) 0 -9248px no-repeat
}
.items-20-32-0 {
    background: url(items-20.png) 0 -9280px no-repeat
}
.items-20-320-0 {
    background: url(items-20.png) 0 -9312px no-repeat
}
.items-20-321-0 {
    background: url(items-20.png) 0 -9344px no-repeat
}
.items-20-322-0 {
    background: url(items-20.png) 0 -9376px no-repeat
}
.items-20-322-1 {
    background: url(items-20.png) 0 -9408px no-repeat
}
.items-20-323-0 {
    background: url(items-20.png) 0 -9440px no-repeat
}
.items-20-324-0 {
    background: url(items-20.png) 0 -9472px no-repeat
}
.items-20-325-0 {
    background: url(items-20.png) 0 -9504px no-repeat
}
.items-20-326-0 {
    background: url(items-20.png) 0 -9536px no-repeat
}
.items-20-327-0 {
    background: url(items-20.png) 0 -9568px no-repeat
}
.items-20-328-0 {
    background: url(items-20.png) 0 -9600px no-repeat
}
.items-20-329-0 {
    background: url(items-20.png) 0 -9632px no-repeat
}
.items-20-33-0 {
    background: url(items-20.png) 0 -9664px no-repeat
}
.items-20-330-0 {
    background: url(items-20.png) 0 -9696px no-repeat
}
.items-20-331-0 {
    background: url(items-20.png) 0 -9728px no-repeat
}
.items-20-332-0 {
    background: url(items-20.png) 0 -9760px no-repeat
}
.items-20-333-0 {
    background: url(items-20.png) 0 -9792px no-repeat
}
.items-20-334-0 {
    background: url(items-20.png) 0 -9824px no-repeat
}
.items-20-335-0 {
    background: url(items-20.png) 0 -9856px no-repeat
}
.items-20-336-0 {
    background: url(items-20.png) 0 -9888px no-repeat
}
.items-20-337-0 {
    background: url(items-20.png) 0 -9920px no-repeat
}
.items-20-338-0 {
    background: url(items-20.png) 0 -9952px no-repeat
}
.items-20-339-0 {
    background: url(items-20.png) 0 -9984px no-repeat
}
.items-20-34-0 {
    background: url(items-20.png) 0 -10016px no-repeat
}
.items-20-340-0 {
    background: url(items-20.png) 0 -10048px no-repeat
}
.items-20-341-0 {
    background: url(items-20.png) 0 -10080px no-repeat
}
.items-20-342-0 {
    background: url(items-20.png) 0 -10112px no-repeat
}
.items-20-343-0 {
    background: url(items-20.png) 0 -10144px no-repeat
}
.items-20-344-0 {
    background: url(items-20.png) 0 -10176px no-repeat
}
.items-20-345-0 {
    background: url(items-20.png) 0 -10208px no-repeat
}
.items-20-346-0 {
    background: url(items-20.png) 0 -10240px no-repeat
}
.items-20-347-0 {
    background: url(items-20.png) 0 -10272px no-repeat
}
.items-20-348-0 {
    background: url(items-20.png) 0 -10304px no-repeat
}
.items-20-349-0 {
    background: url(items-20.png) 0 -10336px no-repeat
}
.items-20-349-1 {
    background: url(items-20.png) 0 -10368px no-repeat
}
.items-20-349-2 {
    background: url(items-20.png) 0 -10400px no-repeat
}
.items-20-349-3 {
    background: url(items-20.png) 0 -10432px no-repeat
}
.items-20-35-0 {
    background: url(items-20.png) 0 -10464px no-repeat
}
.items-20-35-1 {
    background: url(items-20.png) 0 -10496px no-repeat
}
.items-20-35-10 {
    background: url(items-20.png) 0 -10528px no-repeat
}
.items-20-35-11 {
    background: url(items-20.png) 0 -10560px no-repeat
}
.items-20-35-12 {
    background: url(items-20.png) 0 -10592px no-repeat
}
.items-20-35-13 {
    background: url(items-20.png) 0 -10624px no-repeat
}
.items-20-35-14 {
    background: url(items-20.png) 0 -10656px no-repeat
}
.items-20-35-15 {
    background: url(items-20.png) 0 -10688px no-repeat
}
.items-20-35-2 {
    background: url(items-20.png) 0 -10720px no-repeat
}
.items-20-35-3 {
    background: url(items-20.png) 0 -10752px no-repeat
}
.items-20-35-4 {
    background: url(items-20.png) 0 -10784px no-repeat
}
.items-20-35-5 {
    background: url(items-20.png) 0 -10816px no-repeat
}
.items-20-35-6 {
    background: url(items-20.png) 0 -10848px no-repeat
}
.items-20-35-7 {
    background: url(items-20.png) 0 -10880px no-repeat
}
.items-20-35-8 {
    background: url(items-20.png) 0 -10912px no-repeat
}
.items-20-35-9 {
    background: url(items-20.png) 0 -10944px no-repeat
}
.items-20-350-0 {
    background: url(items-20.png) 0 -10976px no-repeat
}
.items-20-350-1 {
    background: url(items-20.png) 0 -11008px no-repeat
}
.items-20-351-0 {
    background: url(items-20.png) 0 -11040px no-repeat
}
.items-20-351-1 {
    background: url(items-20.png) 0 -11072px no-repeat
}
.items-20-351-10 {
    background: url(items-20.png) 0 -11104px no-repeat
}
.items-20-351-11 {
    background: url(items-20.png) 0 -11136px no-repeat
}
.items-20-351-12 {
    background: url(items-20.png) 0 -11168px no-repeat
}
.items-20-351-13 {
    background: url(items-20.png) 0 -11200px no-repeat
}
.items-20-351-14 {
    background: url(items-20.png) 0 -11232px no-repeat
}
.items-20-351-15 {
    background: url(items-20.png) 0 -11264px no-repeat
}
.items-20-351-2 {
    background: url(items-20.png) 0 -11296px no-repeat
}
.items-20-351-3 {
    background: url(items-20.png) 0 -11328px no-repeat
}
.items-20-351-4 {
    background: url(items-20.png) 0 -11360px no-repeat
}
.items-20-351-5 {
    background: url(items-20.png) 0 -11392px no-repeat
}
.items-20-351-6 {
    background: url(items-20.png) 0 -11424px no-repeat
}
.items-20-351-7 {
    background: url(items-20.png) 0 -11456px no-repeat
}
.items-20-351-8 {
    background: url(items-20.png) 0 -11488px no-repeat
}
.items-20-351-9 {
    background: url(items-20.png) 0 -11520px no-repeat
}
.items-20-352-0 {
    background: url(items-20.png) 0 -11552px no-repeat
}
.items-20-353-0 {
    background: url(items-20.png) 0 -11584px no-repeat
}
.items-20-354-0 {
    background: url(items-20.png) 0 -11616px no-repeat
}
.items-20-355-0 {
    background: url(items-20.png) 0 -11648px no-repeat
}
.items-20-356-0 {
    background: url(items-20.png) 0 -11680px no-repeat
}
.items-20-357-0 {
    background: url(items-20.png) 0 -11712px no-repeat
}
.items-20-358-0 {
    background: url(items-20.png) 0 -11744px no-repeat
}
.items-20-359-0 {
    background: url(items-20.png) 0 -11776px no-repeat
}
.items-20-360-0 {
    background: url(items-20.png) 0 -11808px no-repeat
}
.items-20-361-0 {
    background: url(items-20.png) 0 -11840px no-repeat
}
.items-20-362-0 {
    background: url(items-20.png) 0 -11872px no-repeat
}
.items-20-363-0 {
    background: url(items-20.png) 0 -11904px no-repeat
}
.items-20-364-0 {
    background: url(items-20.png) 0 -11936px no-repeat
}
.items-20-365-0 {
    background: url(items-20.png) 0 -11968px no-repeat
}
.items-20-366-0 {
    background: url(items-20.png) 0 -12000px no-repeat
}
.items-20-367-0 {
    background: url(items-20.png) 0 -12032px no-repeat
}
.items-20-368-0 {
    background: url(items-20.png) 0 -12064px no-repeat
}
.items-20-369-0 {
    background: url(items-20.png) 0 -12096px no-repeat
}
.items-20-37-0 {
    background: url(items-20.png) 0 -12128px no-repeat
}
.items-20-370-0 {
    background: url(items-20.png) 0 -12160px no-repeat
}
.items-20-371-0 {
    background: url(items-20.png) 0 -12192px no-repeat
}
.items-20-372-0 {
    background: url(items-20.png) 0 -12224px no-repeat
}
.items-20-373-0 {
    background: url(items-20.png) 0 -12256px no-repeat
}
.items-20-374-0 {
    background: url(items-20.png) 0 -12288px no-repeat
}
.items-20-375-0 {
    background: url(items-20.png) 0 -12320px no-repeat
}
.items-20-376-0 {
    background: url(items-20.png) 0 -12352px no-repeat
}
.items-20-377-0 {
    background: url(items-20.png) 0 -12384px no-repeat
}
.items-20-378-0 {
    background: url(items-20.png) 0 -12416px no-repeat
}
.items-20-379-0 {
    background: url(items-20.png) 0 -12448px no-repeat
}
.items-20-38-0 {
    background: url(items-20.png) 0 -12480px no-repeat
}
.items-20-38-1 {
    background: url(items-20.png) 0 -12512px no-repeat
}
.items-20-38-2 {
    background: url(items-20.png) 0 -12544px no-repeat
}
.items-20-38-3 {
    background: url(items-20.png) 0 -12576px no-repeat
}
.items-20-38-4 {
    background: url(items-20.png) 0 -12608px no-repeat
}
.items-20-38-5 {
    background: url(items-20.png) 0 -12640px no-repeat
}
.items-20-38-6 {
    background: url(items-20.png) 0 -12672px no-repeat
}
.items-20-38-7 {
    background: url(items-20.png) 0 -12704px no-repeat
}
.items-20-38-8 {
    background: url(items-20.png) 0 -12736px no-repeat
}
.items-20-380-0 {
    background: url(items-20.png) 0 -12768px no-repeat
}
.items-20-381-0 {
    background: url(items-20.png) 0 -12800px no-repeat
}
.items-20-382-0 {
    background: url(items-20.png) 0 -12832px no-repeat
}
.items-20-383-100 {
    background: url(items-20.png) 0 -12864px no-repeat
}
.items-20-383-101 {
    background: url(items-20.png) 0 -12896px no-repeat
}
.items-20-383-120 {
    background: url(items-20.png) 0 -12928px no-repeat
}
.items-20-383-50 {
    background: url(items-20.png) 0 -12960px no-repeat
}
.items-20-383-51 {
    background: url(items-20.png) 0 -12992px no-repeat
}
.items-20-383-52 {
    background: url(items-20.png) 0 -13024px no-repeat
}
.items-20-383-54 {
    background: url(items-20.png) 0 -13056px no-repeat
}
.items-20-383-55 {
    background: url(items-20.png) 0 -13088px no-repeat
}
.items-20-383-56 {
    background: url(items-20.png) 0 -13120px no-repeat
}
.items-20-383-57 {
    background: url(items-20.png) 0 -13152px no-repeat
}
.items-20-383-58 {
    background: url(items-20.png) 0 -13184px no-repeat
}
.items-20-383-59 {
    background: url(items-20.png) 0 -13216px no-repeat
}
.items-20-383-60 {
    background: url(items-20.png) 0 -13248px no-repeat
}
.items-20-383-61 {
    background: url(items-20.png) 0 -13280px no-repeat
}
.items-20-383-62 {
    background: url(items-20.png) 0 -13312px no-repeat
}
.items-20-383-65 {
    background: url(items-20.png) 0 -13344px no-repeat
}
.items-20-383-66 {
    background: url(items-20.png) 0 -13376px no-repeat
}
.items-20-383-67 {
    background: url(items-20.png) 0 -13408px no-repeat
}
.items-20-383-68 {
    background: url(items-20.png) 0 -13440px no-repeat
}
.items-20-383-90 {
    background: url(items-20.png) 0 -13472px no-repeat
}
.items-20-383-91 {
    background: url(items-20.png) 0 -13504px no-repeat
}
.items-20-383-92 {
    background: url(items-20.png) 0 -13536px no-repeat
}
.items-20-383-93 {
    background: url(items-20.png) 0 -13568px no-repeat
}
.items-20-383-94 {
    background: url(items-20.png) 0 -13600px no-repeat
}
.items-20-383-95 {
    background: url(items-20.png) 0 -13632px no-repeat
}
.items-20-383-96 {
    background: url(items-20.png) 0 -13664px no-repeat
}
.items-20-383-98 {
    background: url(items-20.png) 0 -13696px no-repeat
}
.items-20-384-0 {
    background: url(items-20.png) 0 -13728px no-repeat
}
.items-20-385-0 {
    background: url(items-20.png) 0 -13760px no-repeat
}
.items-20-386-0 {
    background: url(items-20.png) 0 -13792px no-repeat
}
.items-20-387-0 {
    background: url(items-20.png) 0 -13824px no-repeat
}
.items-20-388-0 {
    background: url(items-20.png) 0 -13856px no-repeat
}
.items-20-389-0 {
    background: url(items-20.png) 0 -13888px no-repeat
}
.items-20-39-0 {
    background: url(items-20.png) 0 -13920px no-repeat
}
.items-20-390-0 {
    background: url(items-20.png) 0 -13952px no-repeat
}
.items-20-391-0 {
    background: url(items-20.png) 0 -13984px no-repeat
}
.items-20-392-0 {
    background: url(items-20.png) 0 -14016px no-repeat
}
.items-20-393-0 {
    background: url(items-20.png) 0 -14048px no-repeat
}
.items-20-394-0 {
    background: url(items-20.png) 0 -14080px no-repeat
}
.items-20-395-0 {
    background: url(items-20.png) 0 -14112px no-repeat
}
.items-20-396-0 {
    background: url(items-20.png) 0 -14144px no-repeat
}
.items-20-397-0 {
    background: url(items-20.png) 0 -14176px no-repeat
}
.items-20-397-1 {
    background: url(items-20.png) 0 -14208px no-repeat
}
.items-20-397-2 {
    background: url(items-20.png) 0 -14240px no-repeat
}
.items-20-397-3 {
    background: url(items-20.png) 0 -14272px no-repeat
}
.items-20-397-4 {
    background: url(items-20.png) 0 -14304px no-repeat
}
.items-20-398-0 {
    background: url(items-20.png) 0 -14336px no-repeat
}
.items-20-399-0 {
    background: url(items-20.png) 0 -14368px no-repeat
}
.items-20-4-0 {
    background: url(items-20.png) 0 -14400px no-repeat
}
.items-20-40-0 {
    background: url(items-20.png) 0 -14432px no-repeat
}
.items-20-400-0 {
    background: url(items-20.png) 0 -14464px no-repeat
}
.items-20-401-0 {
    background: url(items-20.png) 0 -14496px no-repeat
}
.items-20-402-0 {
    background: url(items-20.png) 0 -14528px no-repeat
}
.items-20-403-0 {
    background: url(items-20.png) 0 -14560px no-repeat
}
.items-20-404 {
    background: url(items-20.png) 0 -14592px no-repeat
}
.items-20-404-0 {
    background: url(items-20.png) 0 -14624px no-repeat
}
.items-20-405-0 {
    background: url(items-20.png) 0 -14656px no-repeat
}
.items-20-406-0 {
    background: url(items-20.png) 0 -14688px no-repeat
}
.items-20-407-0 {
    background: url(items-20.png) 0 -14720px no-repeat
}
.items-20-408-0 {
    background: url(items-20.png) 0 -14752px no-repeat
}
.items-20-409-0 {
    background: url(items-20.png) 0 -14784px no-repeat
}
.items-20-41-0 {
    background: url(items-20.png) 0 -14816px no-repeat
}
.items-20-410-0 {
    background: url(items-20.png) 0 -14848px no-repeat
}
.items-20-411-0 {
    background: url(items-20.png) 0 -14880px no-repeat
}
.items-20-412-0 {
    background: url(items-20.png) 0 -14912px no-repeat
}
.items-20-413-0 {
    background: url(items-20.png) 0 -14944px no-repeat
}
.items-20-414-0 {
    background: url(items-20.png) 0 -14976px no-repeat
}
.items-20-415-0 {
    background: url(items-20.png) 0 -15008px no-repeat
}
.items-20-416-0 {
    background: url(items-20.png) 0 -15040px no-repeat
}
.items-20-417-0 {
    background: url(items-20.png) 0 -15072px no-repeat
}
.items-20-418-0 {
    background: url(items-20.png) 0 -15104px no-repeat
}
.items-20-419-0 {
    background: url(items-20.png) 0 -15136px no-repeat
}
.items-20-42-0 {
    background: url(items-20.png) 0 -15168px no-repeat
}
.items-20-420-0 {
    background: url(items-20.png) 0 -15200px no-repeat
}
.items-20-421-0 {
    background: url(items-20.png) 0 -15232px no-repeat
}
.items-20-422-0 {
    background: url(items-20.png) 0 -15264px no-repeat
}
.items-20-423-0 {
    background: url(items-20.png) 0 -15296px no-repeat
}
.items-20-424-0 {
    background: url(items-20.png) 0 -15328px no-repeat
}
.items-20-425-0 {
    background: url(items-20.png) 0 -15360px no-repeat
}
.items-20-427-0 {
    background: url(items-20.png) 0 -15392px no-repeat
}
.items-20-428-0 {
    background: url(items-20.png) 0 -15424px no-repeat
}
.items-20-429-0 {
    background: url(items-20.png) 0 -15456px no-repeat
}
.items-20-43-0 {
    background: url(items-20.png) 0 -15488px no-repeat
}
.items-20-43-1 {
    background: url(items-20.png) 0 -15520px no-repeat
}
.items-20-43-2 {
    background: url(items-20.png) 0 -15552px no-repeat
}
.items-20-43-3 {
    background: url(items-20.png) 0 -15584px no-repeat
}
.items-20-43-4 {
    background: url(items-20.png) 0 -15616px no-repeat
}
.items-20-43-5 {
    background: url(items-20.png) 0 -15648px no-repeat
}
.items-20-43-6 {
    background: url(items-20.png) 0 -15680px no-repeat
}
.items-20-43-7 {
    background: url(items-20.png) 0 -15712px no-repeat
}
.items-20-430-0 {
    background: url(items-20.png) 0 -15744px no-repeat
}
.items-20-431-0 {
    background: url(items-20.png) 0 -15776px no-repeat
}
.items-20-44-0 {
    background: url(items-20.png) 0 -15808px no-repeat
}
.items-20-44-1 {
    background: url(items-20.png) 0 -15840px no-repeat
}
.items-20-44-2 {
    background: url(items-20.png) 0 -15872px no-repeat
}
.items-20-44-3 {
    background: url(items-20.png) 0 -15904px no-repeat
}
.items-20-44-4 {
    background: url(items-20.png) 0 -15936px no-repeat
}
.items-20-44-5 {
    background: url(items-20.png) 0 -15968px no-repeat
}
.items-20-44-6 {
    background: url(items-20.png) 0 -16000px no-repeat
}
.items-20-44-7 {
    background: url(items-20.png) 0 -16032px no-repeat
}
.items-20-45-0 {
    background: url(items-20.png) 0 -16064px no-repeat
}
.items-20-46-0 {
    background: url(items-20.png) 0 -16096px no-repeat
}
.items-20-47-0 {
    background: url(items-20.png) 0 -16128px no-repeat
}
.items-20-48-0 {
    background: url(items-20.png) 0 -16160px no-repeat
}
.items-20-49-0 {
    background: url(items-20.png) 0 -16192px no-repeat
}
.items-20-5-0 {
    background: url(items-20.png) 0 -16224px no-repeat
}
.items-20-5-1 {
    background: url(items-20.png) 0 -16256px no-repeat
}
.items-20-5-2 {
    background: url(items-20.png) 0 -16288px no-repeat
}
.items-20-5-3 {
    background: url(items-20.png) 0 -16320px no-repeat
}
.items-20-5-4 {
    background: url(items-20.png) 0 -16352px no-repeat
}
.items-20-5-5 {
    background: url(items-20.png) 0 -16384px no-repeat
}
.items-20-50-0 {
    background: url(items-20.png) 0 -16416px no-repeat
}
.items-20-51-0 {
    background: url(items-20.png) 0 -16448px no-repeat
}
.items-20-52-0 {
    background: url(items-20.png) 0 -16480px no-repeat
}
.items-20-53-0 {
    background: url(items-20.png) 0 -16512px no-repeat
}
.items-20-54-0 {
    background: url(items-20.png) 0 -16544px no-repeat
}
.items-20-55-0 {
    background: url(items-20.png) 0 -16576px no-repeat
}
.items-20-56-0 {
    background: url(items-20.png) 0 -16608px no-repeat
}
.items-20-57-0 {
    background: url(items-20.png) 0 -16640px no-repeat
}
.items-20-58-0 {
    background: url(items-20.png) 0 -16672px no-repeat
}
.items-20-59-0 {
    background: url(items-20.png) 0 -16704px no-repeat
}
.items-20-6-0 {
    background: url(items-20.png) 0 -16736px no-repeat
}
.items-20-6-1 {
    background: url(items-20.png) 0 -16768px no-repeat
}
.items-20-6-2 {
    background: url(items-20.png) 0 -16800px no-repeat
}
.items-20-6-3 {
    background: url(items-20.png) 0 -16832px no-repeat
}
.items-20-6-4 {
    background: url(items-20.png) 0 -16864px no-repeat
}
.items-20-6-5 {
    background: url(items-20.png) 0 -16896px no-repeat
}
.items-20-60-0 {
    background: url(items-20.png) 0 -16928px no-repeat
}
.items-20-61-0 {
    background: url(items-20.png) 0 -16960px no-repeat
}
.items-20-62-0 {
    background: url(items-20.png) 0 -16992px no-repeat
}
.items-20-63-0 {
    background: url(items-20.png) 0 -17024px no-repeat
}
.items-20-64-0 {
    background: url(items-20.png) 0 -17056px no-repeat
}
.items-20-65-0 {
    background: url(items-20.png) 0 -17088px no-repeat
}
.items-20-66-0 {
    background: url(items-20.png) 0 -17120px no-repeat
}
.items-20-67-0 {
    background: url(items-20.png) 0 -17152px no-repeat
}
.items-20-68-0 {
    background: url(items-20.png) 0 -17184px no-repeat
}
.items-20-69-0 {
    background: url(items-20.png) 0 -17216px no-repeat
}
.items-20-7-0 {
    background: url(items-20.png) 0 -17248px no-repeat
}
.items-20-70-0 {
    background: url(items-20.png) 0 -17280px no-repeat
}
.items-20-71-0 {
    background: url(items-20.png) 0 -17312px no-repeat
}
.items-20-72-0 {
    background: url(items-20.png) 0 -17344px no-repeat
}
.items-20-73-0 {
    background: url(items-20.png) 0 -17376px no-repeat
}
.items-20-74-0 {
    background: url(items-20.png) 0 -17408px no-repeat
}
.items-20-75-0 {
    background: url(items-20.png) 0 -17440px no-repeat
}
.items-20-76-0 {
    background: url(items-20.png) 0 -17472px no-repeat
}
.items-20-77-0 {
    background: url(items-20.png) 0 -17504px no-repeat
}
.items-20-78-0 {
    background: url(items-20.png) 0 -17536px no-repeat
}
.items-20-79-0 {
    background: url(items-20.png) 0 -17568px no-repeat
}
.items-20-8-0 {
    background: url(items-20.png) 0 -17600px no-repeat
}
.items-20-80-0 {
    background: url(items-20.png) 0 -17632px no-repeat
}
.items-20-81-0 {
    background: url(items-20.png) 0 -17664px no-repeat
}
.items-20-82-0 {
    background: url(items-20.png) 0 -17696px no-repeat
}
.items-20-83-0 {
    background: url(items-20.png) 0 -17728px no-repeat
}
.items-20-84-0 {
    background: url(items-20.png) 0 -17760px no-repeat
}
.items-20-85-0 {
    background: url(items-20.png) 0 -17792px no-repeat
}
.items-20-86-0 {
    background: url(items-20.png) 0 -17824px no-repeat
}
.items-20-87-0 {
    background: url(items-20.png) 0 -17856px no-repeat
}
.items-20-88-0 {
    background: url(items-20.png) 0 -17888px no-repeat
}
.items-20-89-0 {
    background: url(items-20.png) 0 -17920px no-repeat
}
.items-20-9-0 {
    background: url(items-20.png) 0 -17952px no-repeat
}
.items-20-90-0 {
    background: url(items-20.png) 0 -17984px no-repeat
}
.items-20-91-0 {
    background: url(items-20.png) 0 -18016px no-repeat
}
.items-20-92-0 {
    background: url(items-20.png) 0 -18048px no-repeat
}
.items-20-93-0 {
    background: url(items-20.png) 0 -18080px no-repeat
}
.items-20-94-0 {
    background: url(items-20.png) 0 -18112px no-repeat
}
.items-20-95-0 {
    background: url(items-20.png) 0 -18144px no-repeat
}
.items-20-95-1 {
    background: url(items-20.png) 0 -18176px no-repeat
}
.items-20-95-10 {
    background: url(items-20.png) 0 -18208px no-repeat
}
.items-20-95-11 {
    background: url(items-20.png) 0 -18240px no-repeat
}
.items-20-95-12 {
    background: url(items-20.png) 0 -18272px no-repeat
}
.items-20-95-13 {
    background: url(items-20.png) 0 -18304px no-repeat
}
.items-20-95-14 {
    background: url(items-20.png) 0 -18336px no-repeat
}
.items-20-95-15 {
    background: url(items-20.png) 0 -18368px no-repeat
}
.items-20-95-2 {
    background: url(items-20.png) 0 -18400px no-repeat
}
.items-20-95-3 {
    background: url(items-20.png) 0 -18432px no-repeat
}
.items-20-95-4 {
    background: url(items-20.png) 0 -18464px no-repeat
}
.items-20-95-5 {
    background: url(items-20.png) 0 -18496px no-repeat
}
.items-20-95-6 {
    background: url(items-20.png) 0 -18528px no-repeat
}
.items-20-95-7 {
    background: url(items-20.png) 0 -18560px no-repeat
}
.items-20-95-8 {
    background: url(items-20.png) 0 -18592px no-repeat
}
.items-20-95-9 {
    background: url(items-20.png) 0 -18624px no-repeat
}
.items-20-96-0 {
    background: url(items-20.png) 0 -18656px no-repeat
}
.items-20-97-0 {
    background: url(items-20.png) 0 -18688px no-repeat
}
.items-20-97-1 {
    background: url(items-20.png) 0 -18720px no-repeat
}
.items-20-97-2 {
    background: url(items-20.png) 0 -18752px no-repeat
}
.items-20-97-3 {
    background: url(items-20.png) 0 -18784px no-repeat
}
.items-20-97-4 {
    background: url(items-20.png) 0 -18816px no-repeat
}
.items-20-97-5 {
    background: url(items-20.png) 0 -18848px no-repeat
}
.items-20-98-0 {
    background: url(items-20.png) 0 -18880px no-repeat
}
.items-20-98-1 {
    background: url(items-20.png) 0 -18912px no-repeat
}
.items-20-98-2 {
    background: url(items-20.png) 0 -18944px no-repeat
}
.items-20-98-3 {
    background: url(items-20.png) 0 -18976px no-repeat
}
.items-20-99-0 {
    background: url(items-20.png) 0 -19008px no-repeat
}
.entities-20-1 {
    background: url(entities-20.png) 0 0 no-repeat
}
.entities-20-10 {
    background: url(entities-20.png) 0 -32px no-repeat
}
.entities-20-100 {
    background: url(entities-20.png) 0 -64px no-repeat
}
.entities-20-101 {
    background: url(entities-20.png) 0 -96px no-repeat
}
.entities-20-11 {
    background: url(entities-20.png) 0 -128px no-repeat
}
.entities-20-12 {
    background: url(entities-20.png) 0 -160px no-repeat
}
.entities-20-120 {
    background: url(entities-20.png) 0 -192px no-repeat
}
.entities-20-13 {
    background: url(entities-20.png) 0 -224px no-repeat
}
.entities-20-14 {
    background: url(entities-20.png) 0 -256px no-repeat
}
.entities-20-15 {
    background: url(entities-20.png) 0 -288px no-repeat
}
.entities-20-16 {
    background: url(entities-20.png) 0 -320px no-repeat
}
.entities-20-17 {
    background: url(entities-20.png) 0 -352px no-repeat
}
.entities-20-18 {
    background: url(entities-20.png) 0 -384px no-repeat
}
.entities-20-19 {
    background: url(entities-20.png) 0 -416px no-repeat
}
.entities-20-2 {
    background: url(entities-20.png) 0 -448px no-repeat
}
.entities-20-20 {
    background: url(entities-20.png) 0 -480px no-repeat
}
.entities-20-200 {
    background: url(entities-20.png) 0 -512px no-repeat
}
.entities-20-21 {
    background: url(entities-20.png) 0 -544px no-repeat
}
.entities-20-22 {
    background: url(entities-20.png) 0 -576px no-repeat
}
.entities-20-30 {
    background: url(entities-20.png) 0 -608px no-repeat
}
.entities-20-40 {
    background: url(entities-20.png) 0 -640px no-repeat
}
.entities-20-41 {
    background: url(entities-20.png) 0 -672px no-repeat
}
.entities-20-42 {
    background: url(entities-20.png) 0 -704px no-repeat
}
.entities-20-43 {
    background: url(entities-20.png) 0 -736px no-repeat
}
.entities-20-44 {
    background: url(entities-20.png) 0 -768px no-repeat
}
.entities-20-45 {
    background: url(entities-20.png) 0 -800px no-repeat
}
.entities-20-46 {
    background: url(entities-20.png) 0 -832px no-repeat
}
.entities-20-47 {
    background: url(entities-20.png) 0 -864px no-repeat
}
.entities-20-50 {
    background: url(entities-20.png) 0 -896px no-repeat
}
.entities-20-51 {
    background: url(entities-20.png) 0 -928px no-repeat
}
.entities-20-52 {
    background: url(entities-20.png) 0 -960px no-repeat
}
.entities-20-53 {
    background: url(entities-20.png) 0 -992px no-repeat
}
.entities-20-54 {
    background: url(entities-20.png) 0 -1024px no-repeat
}
.entities-20-55 {
    background: url(entities-20.png) 0 -1056px no-repeat
}
.entities-20-56 {
    background: url(entities-20.png) 0 -1088px no-repeat
}
.entities-20-57 {
    background: url(entities-20.png) 0 -1120px no-repeat
}
.entities-20-58 {
    background: url(entities-20.png) 0 -1152px no-repeat
}
.entities-20-59 {
    background: url(entities-20.png) 0 -1184px no-repeat
}
.entities-20-60 {
    background: url(entities-20.png) 0 -1216px no-repeat
}
.entities-20-61 {
    background: url(entities-20.png) 0 -1248px no-repeat
}
.entities-20-62 {
    background: url(entities-20.png) 0 -1280px no-repeat
}
.entities-20-63 {
    background: url(entities-20.png) 0 -1312px no-repeat
}
.entities-20-64 {
    background: url(entities-20.png) 0 -1344px no-repeat
}
.entities-20-65 {
    background: url(entities-20.png) 0 -1376px no-repeat
}
.entities-20-66 {
    background: url(entities-20.png) 0 -1408px no-repeat
}
.entities-20-67 {
    background: url(entities-20.png) 0 -1440px no-repeat
}
.entities-20-68 {
    background: url(entities-20.png) 0 -1472px no-repeat
}
.entities-20-8 {
    background: url(entities-20.png) 0 -1504px no-repeat
}
.entities-20-9 {
    background: url(entities-20.png) 0 -1536px no-repeat
}
.entities-20-90 {
    background: url(entities-20.png) 0 -1568px no-repeat
}
.entities-20-91 {
    background: url(entities-20.png) 0 -1600px no-repeat
}
.entities-20-92 {
    background: url(entities-20.png) 0 -1632px no-repeat
}
.entities-20-93 {
    background: url(entities-20.png) 0 -1664px no-repeat
}
.entities-20-94 {
    background: url(entities-20.png) 0 -1696px no-repeat
}
.entities-20-95 {
    background: url(entities-20.png) 0 -1728px no-repeat
}
.entities-20-96 {
    background: url(entities-20.png) 0 -1760px no-repeat
}
.entities-20-97 {
    background: url(entities-20.png) 0 -1792px no-repeat
}
.entities-20-98 {
    background: url(entities-20.png) 0 -1824px no-repeat
}
.entities-20-99 {
    background: url(entities-20.png) 0 -1856px no-repeat
}
.potions-20-0-0 {
    background: url(potions-20.png) 0 0 no-repeat
}
.potions-20-0-1 {
    background: url(potions-20.png) 0 -32px no-repeat
}
.potions-20-1-0 {
    background: url(potions-20.png) 0 -64px no-repeat
}
.potions-20-1-1 {
    background: url(potions-20.png) 0 -96px no-repeat
}
.potions-20-10-0 {
    background: url(potions-20.png) 0 -128px no-repeat
}
.potions-20-10-1 {
    background: url(potions-20.png) 0 -160px no-repeat
}
.potions-20-11-0 {
    background: url(potions-20.png) 0 -192px no-repeat
}
.potions-20-11-1 {
    background: url(potions-20.png) 0 -224px no-repeat
}
.potions-20-12-0 {
    background: url(potions-20.png) 0 -256px no-repeat
}
.potions-20-12-1 {
    background: url(potions-20.png) 0 -288px no-repeat
}
.potions-20-13-0 {
    background: url(potions-20.png) 0 -320px no-repeat
}
.potions-20-13-1 {
    background: url(potions-20.png) 0 -352px no-repeat
}
.potions-20-14-0 {
    background: url(potions-20.png) 0 -384px no-repeat
}
.potions-20-14-1 {
    background: url(potions-20.png) 0 -416px no-repeat
}
.potions-20-2-0 {
    background: url(potions-20.png) 0 -448px no-repeat
}
.potions-20-2-1 {
    background: url(potions-20.png) 0 -480px no-repeat
}
.potions-20-3-0 {
    background: url(potions-20.png) 0 -512px no-repeat
}
.potions-20-3-1 {
    background: url(potions-20.png) 0 -544px no-repeat
}
.potions-20-4-0 {
    background: url(potions-20.png) 0 -576px no-repeat
}
.potions-20-4-1 {
    background: url(potions-20.png) 0 -608px no-repeat
}
.potions-20-5-0 {
    background: url(potions-20.png) 0 -640px no-repeat
}
.potions-20-5-1 {
    background: url(potions-20.png) 0 -672px no-repeat
}
.potions-20-6-0 {
    background: url(potions-20.png) 0 -704px no-repeat
}
.potions-20-6-1 {
    background: url(potions-20.png) 0 -736px no-repeat
}
.potions-20-8-0 {
    background: url(potions-20.png) 0 -768px no-repeat
}
.potions-20-8-1 {
    background: url(potions-20.png) 0 -800px no-repeat
}
.potions-20-9-0 {
    background: url(potions-20.png) 0 -832px no-repeat
}
.potions-20-9-1 {
    background: url(potions-20.png) 0 -864px no-repeat
}